
.navbar-style {
  &--bg-color {
    background-color: #708090;
  }
  
  &__link {
    text-decoration: none;
  }
&__text {
    color: $white;
  }
  &__text:hover {
    transform: scale(1.1); 
    font-weight: bold;
    color: $white;
  }
}