$white: #ffffff;
$Very-light-pink: #c7c7cc;
$gris-claro: rgb(243, 241, 243);
$hospital-green: #acd9b2;
$sm: 14px;
$md: 16px;
$lg: 18px;

@import "./main-page";
@import "./forms";
@import "~bootstrap/scss/bootstrap";
