$white: #ffffff;
$Very-light-pink: #c7c7cc;
$gris-claro: rgb(243, 241, 243);
$hospital-green: #acd9b2;
$sm: 14px;
$md: 16px;
$lg: 18px;

html {
  padding: 0;
  margin: 0;
}

@import "./main-page";
@import "./product-page";
@import "./forms";
@import "~bootstrap/scss/bootstrap";
@import "./navbar";
@import "./product";
@import "./footer";